<script>
    // Insert Data
    // Triggers when user clicks the 'Save' button with #btnsave id
    $("#btnsave").click(function (){
        //Retrieves the values of student id, name, email and password from the respective input fields in the form
        let output = ""; // Initialize output variable
        let student_id = $("#stuid").val();
        let name = $("#nameid").val();
        let email = $("#emailid").val();
        let password = $("#passwordid").val();

        //Line below is Django's inbuilt Form security measure against CSRF attacks
        let csrf = $("input[name=csrfmiddlewaretoken]").val();

        //Conditional Statement below checks if any require form fields is empty and logs message in console indicating the missing field if empty.
        if (name === ""){
            console.log("please enter name");
        } else if (email === ""){
            console.log("please enter email");
        } else if (password === ""){
            console.log("please enter password");
        }
        //If all fields are filled, it constructs a JS object 'mydata' containing student data and CSRF token.
        else {
            //console.log('name: ', name);
            //console.log('email: ', email);
            //console.log('password: ', password);
            let mydata = {
                student_id: student_id,
                name: name,
                email: email,
                password: password,
                csrfmiddlewaretoken: csrf
            }

            // Code block below sends AJAX POST request to server via 'save' URL
            // URL should be defined in Django's urls.py configuration
            $.ajax({
                url: "{% url 'save' %}",
                method: "POST",
                data: mydata,
                // Upon successful submission, 'success' function updates the message displayed to user.
                success: function (data){
                    console.log('data: ', data);
                    console.log('data.status: ', data.status);
                    let x = data.student_data;
                    if (data.status === "Save"){
                        $("#msg").text("Form Submitted Successfuly");
                        $("#msg").show();

                        /// Updates table with new student_data and resets form
                        for (let i = 0; i < x.length; i++) {
                            output += "<tr><td>" + x[i].id + "</td><td>" + x[i].name + "</td><td>" + x[i].email + "</td><td>" + x[i].password + "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit' value='Edit' data-sid='" + x[i].id + "'/> <input type='button' class='btn btn-danger btn-sm btn-del' value='Delete' data-sid='" + x[i].id + "'/></td></tr>";
                        }
                        $("#tbody").html(output);
                        $("#stuid").val("");
                        // Reset form after adding a student
                        $("form")[0].reset();
                    }
                    if (data.status == 0){
                        //console.log("Unable To Save Form");
                        $("#msg").text("Unable To Save Form");
                        $("#msg").show();
                        // Set student id empty
                        $("#stuid").val("");
                        $("form")[0].reset();
                    }
                },
            });
        }
    });

    // Delete data
    // Handles deletion of student data when user clicks 'Delete' button in row
    $("tbody").on("click", ".btn-del", function (){
        // Retrieves student id from 'data-sid' attribute of clicked button
        let id = $(this).attr("data-sid");
        let csrf = $("input[name=csrfmiddlewaretoken]").val();

        // Constructs JS object 'mydata' containing the student ID and CSRF token
        mydata = { student_id: id, csrfmiddlewaretoken: csrf };
        mythis = this;

        // Sends AJAX POST request to server with the URL 'delete' as defined in urls.py
        $.ajax({
            url: "{% url 'delete' %}",
            method: "POST",
            data: mydata,

            // Upon successful deletion, its updates message shown to user and fades out corresponding table row
            success: function (data){
                console.log('data: ', data);
                if (data.status == 1){
                    //console.log('Data deleted successfully');
                    $("#msg").text("Data deleted successfully");
                    $("#msg").show();
                    // Fade out deleted row
                    $(mythis).closest("tr").fadeOut();
                }
                if (data.status == 0){
                    //console.log('Unable to delete data');
                    $("#msg").text("Unable to delete data");
                    $("#msg").show();
                }
            },
        });
    });
    // Edit data
    $("tbody").on("click", ".btn-edit", function (){
        console.log("Edit button clicked");
        let id = $(this).attr("data-sid");
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        // Constructing JS object containing student_id and CSRF token
        mydata = { student_id: id, csrfmiddlewaretoken: csrf };

        // Sends AJAX POST request via URL edit as defined in urls.py
        $.ajax({
            url: "{% url 'edit' %}",
            method: "POST",
            data: mydata,
            // Upon successful retrieval of student data, updates the form fields with retrieved data
            success: function (data){
                console.log("data: ", data);
                // Insert student data to form field
                $("#stuid").val(data.id);
                $("#nameid").val(data.name);
                $("#emailid").val(data.email);
                $("#passwordid").val(data.password);
            },
        });
    });
</script>